EMAIL_USER=filterflow@mail.ru
# Mail.ru: обязателен «Пароль для внешнего приложения», не обычный пароль почты
# https://help.mail.ru/mail/security/protection/external
EMAIL_PASS=your_mail_ru_application_password
